@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body{
    background-color: rgb(215, 255, 235);
    font-family: 'Poppins', sans-serif;
/* font-family: 'Varela Round', sans-serif; */
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: #a8dadc;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #a8dadc !important;
}

.swiper-pagination-bullet{
    width: 25px !important;
    height: 10px !important;
    border-radius: 5px !important;
    background-color: rgb(129, 55, 239) !important;
    
    /* position: absolute !important; */
}

.swiper-pagination{
    position: absolute !important;
    bottom: 20px !important;
}

html::-webkit-scrollbar{
    display: none;
}
html{
    scrollbar-width: 0;
}
